.mainForm {
    background-color: #495e57;
    width: 100%;
    height: 80px;
    margin-top: 3em;
    display: flex;
    margin-bottom: 1em;
  }

  .mainForm-content {
    width: 100%;
    margin-left: 7em;
    margin-right: 5em;
  }
  
  
  .mainForm-content p {
    width: 100%;
    font-family: "Karla", sans-serif;
    font-size: 22px;
    color: #fff;
    text-align: center;
  }